@use '../helpers' as *;

.header {
   padding-bottom: clamp(0rem, -2.071rem + 10.35vw, 5.5rem);

     &:before {
      content: '';
      display: block;
      min-height: 570px;
      background-color: var(--color-dark);
   }

   &__inner {
    position: absolute;
    top: 26px;
    left: 26%;
    
      
      @include desktop-above {
         width: 100%;
      }

      @include desktop {
        left: 7%;
        width: 87%;
      }


   }

   &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
   }

   &__content { 
      display: flex;
      margin-left: 20px;

      @include mobile-s {
         margin-left: 0;
      }
   }

   &__soc1als {
       margin-left: 60px;
   }
}

