@use '../helpers' as *;

.header {
   

     &:before {
      content: '';
      display: block;
      min-height: 570px;
      background-color: var(--color-dark);
   }

   &__inner {
    position: absolute;
    top: 26px;
    left: 26%;
    
      
      @include desktop-above {
         width: 100%;
      }

      @include desktop {
         left: 16%;
         width: 70%;
      }
   }

   &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
   }

   &__content { 
      display: flex;
      margin-left: 20px;

      @include mobile-s {
         margin-left: 0;
      }
   }

   &__bottom {
      
   }
}

