@use '../helpers' as *;

.swiper {
   overflow: hidden;
}

.swiper-wrapper {
   display: inline-flex;
}

.slide {
   position: relative;
   width: 100%;
   min-height: 580px;

   @include mobile {
      min-height: 450px;
   }

   &__name {
      position: absolute;
      left: 17%;
      top: 37%;
      display: block;
      max-width: 516px;
      font-weight: 500;
      font-size: clamp(1.875rem, 0.934rem + 4.71vw, 4.375rem);
      line-height: 1.14286;
      color: var(--color-light);

      @include mobile-s {
         max-width: 190px;
      }
      
   }

   &--colibri {
      background-image: url('../assets/images/header/slider1.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
   }

   &--cool {
      background-image: url('../assets/images/header/slider3.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   &--architect {
      background-image: url('../assets/images/header/slider2.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
}

.swiper-values-wrapper {
   margin-bottom: 85px;
   overflow: hidden;
}


