@use '../helpers' as *;

.together {
   
   padding-bottom: clamp(1.25rem, -1.809rem + 15.29vw, 9.375rem);
   
   &__inner {
      border-top: 1.20px solid var(--color-dark);
      padding-top: 150px;

      @include mobile {
         padding-top: 30px;
      }
   }

   &__wrapper {
      position: relative;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding-inline: 70px;

      @include mobile-s {
         flex-direction: column;
         row-gap: 20px;
         padding-inline: 30px;
      }
   }

   &__title {
      margin-top: 20px;
      max-width: 483px;
   }

   &__img {
      position: absolute;
      top: -19%;
      left: 41.5%;
      z-index: -1;

      @include lg {
        top: -27%;
        left: 47.5%;
      }

      @include mobile {
         display: none;
      }
   }
}



