:root {
   --color-dark: #0e0e0e;
   --color-dark-rgb: 14, 14, 14;
   --color-light: #ffffff;
   --color-accent: #5a4b4b;
   --color-green: #67a764;
   --color-grey: #969696;
   --color-grey-alt: #6f6f6f;

   --transition-duration: 0.2s; 

   --container-width: 1170px;
   --container-padding-x: 30px;

}